body{
    display: flex;
    font-size: 1rem;
}

@media screen and (min-width : 400px) {
    div.container1, div.container2, div.container3{
       font-size: 40px; 
       color: #6495ed;
    }
  }  
  
  @media screen and (max-width : 800px) {
    div.container1, div.container2, div.container3{
       font-size: 20px; 
       color: #dc143c;
    }
  }  
  
  /*
  @media screen, (min-width : 400px) and (max-width : 768px) {
    div.container1{
       font-size: 20px;
    }
  }

  @media screen, (min-width : 400px) and (max-width : 768px) {
    div.container2{
       font-size: 20px;
    }
  }

  @media screen, (min-width : 400px) and (max-width : 768px) {
    div.container3{
       font-size: 20px;
    }
  }
  */