h1{
    text-align: center;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    background-color: rgb(207, 201, 201);
    box-sizing: border-box;
}

.main-container{
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
}

#fname, #lname, #genders{
    border: red 20px;
    padding: 10px;
    color: red;
    box-sizing: border-box;
}