#myheader{
    color:royalblue;
    background-color:yellow;
    font-stretch: ultra-expanded;
}

.maincontainer{
    background-color: gray;
}

.btcplate{
    color:skyblue;
}

.constant{
    color:tomato;
    font-style: italic;
}