*{
 max-width: 1400px;  
}

.test{
    max-width: 100%;
    width: 100vw;

    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./img.jpg);
    background-color: #232327;
    height: auto;
    background-position: center;
    background-size: cover; 
    opacity: 0.1em;   
}

.body1{
    background-color: rgb(82, 72, 72);
    margin: 0px;
    padding: 0px;
}
.container{
        padding: 0.01em 16px;
}

h1{
    color: springgreen;
}

.hello{
    color: steelblue;
}
.new{
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 800;
        margin: 10px 10px;
        background-color: darkgreen;
        color: white;
        text-align: center!important;
}

.color{
    color: #0000ff;
    background-color: #9acd32;
}

.back-ground{
    background-image: url("./car.jpg");
    width: 40%;
    height: auto;
    float: left;
}

.back-ground.car-sec{
    text-align: justify!important;
    float: right;
    }

.input1{
    float: left;
}

.input2{
    float: right;
}

.back-ground1, .back-ground2, .back-ground3{
    width: 15%;
    float: right;
}

.format1{
    float: left;
}


.formate{
    border: 1px solid #0000ff;
}