p.para{
    text-align: center;
    color: red;
    border: 2px solid blue;
    border-style: dotted;
    padding: auto;
    margin: 10px;
    outline-style:solid;
}

.heading1{
    margin-left: 50px;
    border: 1px solid rgb(56, 52, 52);
    border-radius: 10px;
    text-align: center;
    padding: auto;
}

*{
    background-color:lightblue;
}

.div1 {
    float: left;
    padding: 10px;
    border: 3px solid #73AD21;
  }
  
  .div2 {
    padding: 10px;
    border: 3px solid red;
  }
  
  .div3 {
    float: left;
    padding: 10px;  
    border: 3px solid #73AD21;
  }
  
  .div4 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
  }