

.main-container{
    background-color: #f1f1f1;
    border: 5px solid #ffffff;
    padding: 20px;
}


.desc-row1{
    padding-top: 0.5em;
    padding-right: 10em;
    padding-bottom: 0.5em;
    padding-left: 5em;
    background-color: #f5f5f5;
}

.desc-row2{
    margin-top: 1em;
    padding-top: 0.5em;
    padding-right: 10em;
    padding-bottom: 0.5em;
    padding-left: 2.5em;
    background-color: #f5f5f5;
    display: flex;
}

.init1{
    position: relative;
    width: 20%;
    
}
ol.order{
    list-style-type: none;
    
}
.init2{
    position: relative;
    list-style-type: none;
}
ol.unorder{
    list-style-type: none;
    font-weight: bold;
    text-align: right;
}

.desc-row3{
    margin-top: 1em;
    padding-top: 0.5em;
    padding-right: 5em;
    padding-bottom: 0.5em;
    padding-left: 5em;
    background-color: #f5f5f5;
}

.desc-row4{
    margin-top: 1em;
    padding-top: 0.5em;
    padding-right: 5em;
    padding-bottom: 0.5em;
    padding-left: 5em;
    background-color: #f5f5f5;
}

.fa.fa-angle-down{
    font-size:36px;
}
.mod-1, .mod-2, .mod-3, .mod-4, .mod-5{
    display: flex;
}

.pad-2{
    padding-left: 20px;

}

.mod-6{
    border-radius: 20px;
    border: 3px solid #999999;
    padding: 20px 10px 10px 10px; 
    width: 100%;
    height: 100px;  
}

.mod-7{
    border-radius: 20px;
    border: 3px solid #999999;
    padding: 20px 10px 10px 10px; 
    width: 100%;
    height: 100px;    
}

.mod-8{
    border-radius: 20px;
    border: 3px solid #999999;
    padding: 20px 10px 10px 10px; 
    width: 100%;
    height: 100px;  
}

.text1{
    padding-left: 100px;
    font-size: medium;
    font-weight: bold;
}
.text2{
    padding-left: 80px;
    padding-top: 20px;
}
.date{
    text-align: end;
}

.doc1{
    visibility:visible;
    position:relative;
    font-size:16px;
    top:-40px;
    padding-left: 150px;
}

.resize{
    visibility:visible;
    position:relative;
    font-size:30px;
    top: 10px;
    padding-left: 1000px;
}

.resize1{
    visibility:visible;
    position:relative;
    font-size:30px;
    top:15px;
    padding-left: 20px;
}

.resize2{
    visibility:visible;
    position:relative;
    font-size:30px;
    top:17px;
    padding-left: 20px;
}

.resize3{
    visibility:visible;
    position:relative;
    font-size:30px;
    top:-80px;
    padding-left: 1150px;
}

.date{
    visibility:visible;
    position:relative;
    top:-30px;
}
img.rounded-corners {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  #pad-5{
      margin-left: 20px;
  }

img.box-corners {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    float: left;
  }

p{
    font-size: medium;
}