ol.number1{
    list-style-type: decimal;
}

ul.square1{
    list-style-type: square;
}

ol.captial1{
    list-style-type: upper-alpha;
}

ol.small1{
    list-style-type: lower-alpha ;
}

ul.roman-number1{
    list-style-type: upper-roman;
}

ul.roman-number2{
    list-style-type: lower-roman;
}

ul.none1{
    list-style-type: none;
}

ul.disc1{
    list-style-type: disc;
}

ul.disc-align-right{
    list-style-type: circle;
}