* {
    box-sizing: border-box;
  }

  .main-contant1{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 1em;
  }
  .main-contant{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5em;
    margin-right: 1em;
  }
  .container1{
    display: inline-block;
    float: left;
    width: 50%;
  }
  
  .container2{
    display: inline-block;
    float: right;
    width: 50%;
  }

    #select{
      display: inline-block;
      padding-right: 20px;
      padding-bottom: 2px;
    }

  #center {
    display: inline-block;
  }

  #center1{
    display: flex;
    padding-right: 10px;
    float: right;
  }

  .line{
    border: 0;
    background-color: #f0f0f0;
    height: 2px;
    margin-top: 4px;
    margin-right: 100px;
    }

  input[type=text], select, textarea {
    padding: 5px;
    box-sizing: border-box;
    background-color: #fefefe;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 5px 5px 5px 5px;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #48b24f;
    color: #ffffff;
    width:120px;
    height:30px;
    margin:10px auto;
    border-radius:5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

  } 
  
  input[type=submit]:hover {
    background-color: #1e8024;
  }

  input[type=reset] {
    background-color: #bebebe;
    color: #ffffff;
    width:120px;
    height:30px;
    margin:10px auto;
    border-radius:5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
    background-color: #535151;
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 40%;
    margin-bottom: 12px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  .col-30 {
    display: inline-block;
    width: 20%;
    font-weight: bold;
  }
  .col-35{
    float: left;
    width: 25%;
    font-weight: bold;
  }
  .col-40{
    display: flex;
  }
  
  .col-75 {
    float: left;
    width: 50%;
    margin-top: 0;
    
  }
  .new{
    width:auto
  }
  input{
    width:75%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
    display: flex;
    flex-direction: row; 
    justify-content:left;

  }
  .row3{
    display: inline-block;
    margin-top: 10px;
  }
  .row4{
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;

  }
  .row2{
      display: inline-block;
  }
  .row1{
    display: inline-block;
  }
  @media screen and (max-width: 600px) {
      .main-contant,.container1,.container2, #Description{
      width: auto ;
      display: flex;
      flex-direction: column;
      font-size: 1em;
     
    }
  }

  @media screen and (max-width: 600px) {
    .main-contant1{
    width: 100% ;
    display: inline-block;
    font-size: 1em;
   
  }
}

@media screen and (max-width: 600px) {
  .col-30, #select{
  width: 157px;
  display: inline-block;
  font-size: 1em;
}
}

@media screen and (max-width: 600px) {
   .row2, input{
  width: auto;
  display: inline-block;
  font-size: 1em;
}
}


@media screen and (min-width:450px){
  .main-contant,.container1,.container2, #Description{
    width: auto ;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
   
  }
}

@media screen and (min-width: 450px) {
  .main-contant1{
  width: 100% ;
  display: inline-block;
  font-size: 0.8em;
 
}
}

@media screen and (min-width: 450px) {
.col-30, #select{
width: 147px;
display: inline-block;
font-size: 0.8em;
}
}

@media screen and (min-width: 450px) {
 .row2, input{
width: auto;
display: inline-block;
font-size: 0.8em;
}
}