table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:  yellow;
    padding: 15px;
  }

  form{
    border: 1px solid black;
    border-collapse: separate;
    padding: 10px;
  }

  .main-container{
      background-color: rosybrown;
      width: auto;
      height: auto;
  }

  img{
    width: 500px;
    height: 333px;
  }