* {
  box-sizing: border-box;
}

.row-container{
  display: flex;
  width: auto;
  background-color: black;
  color: white;
}

.table-headsize{
  width: 5%;
  border: 1px solid white;
  text-align: center;
  padding: 1em;
}
.table-head1{
  width: 9%;
  border: 1px solid white;
  text-align: center;
  padding: 0.5em;
}
.table-head2{
  width: 15.5%;
  border: 1px solid white;
  text-align: center;
  padding: 0.5em;
}
.table-head3{
  width: 10%;
  border: 1px solid white;
  text-align: center;
  padding: 0.5em;
}
.column-container{
  display: flex;
  flex-direction: row;
}

.table-column1size{
  width: 5%;
  border-left: 1px solid #b3b2b2;
  border-bottom: 1px solid #b3b2b2;
  text-align: center;
  padding: 0.5em;
}
.table-column1{
  width: 9%;
  border-left: 1px solid #b3b2b2;
  border-bottom: 1px solid #b3b2b2;
  text-align: center;
  padding: 0.5em;
}
.table-column2{
  width: 15.5%;
  border-left: 1px solid #b3b2b2;
  border-bottom: 1px solid #b3b2b2;
  text-align: center;
  padding: 0.5em;
  word-wrap: break-word;
}
div.col-end{
  width: 10%;
  border-left: 1px solid #b3b2b2;
  border-right: 1px solid #b3b2b2;
  border-bottom: 1px solid #b3b2b2;
  text-align: center;
  padding: 0.5em;
}