*{
    margin: 2px 2px 2px 2px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 80px;
    width: 100%;
}

label.nav1{
    color: white;
    font-size: 3em;
    line-height: 100px;
    padding: 0 80px;
    font-weight: bolder;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

a.active1, a:hover{
    border-bottom: 3px solid e9204f;
    color: #e9204f;
    transition: .5s;
    opacity: .5s;
}

.icon{
    position: relative;
    color: white;
    font-size: 48px;
    top:-60px;
    transition: .3s;
}


.icon1{
    position: relative;
    color: #e9204f;
    font-size: 48px;
    top:-60px;
    transition: .3s;
}


header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./image.jpg);
    height: 200vh;
    width: auto;
    background-position: center;
    background-size: cover;
}


.main-container{
    width: 100%;
    margin: 2px 2px 2px 2px;
    box-sizing: border-box;    
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

}

.line2{
        width: 70px;
        height: 47px;
        border-bottom: 2px solid #e9204f;
        border-width: 3px;
        position: absolute;
        top: -60px;  
        right: 832px;

}

.elements-row, .line1{
    width: 70px;
    height: 47px;
    border-bottom: 2px solid #fff;
    border-width: 3px;
    position: absolute;
    top: 30%;
}

.elements-row1, .elements-row2, .line3{
    width: 70px;
    height: 47px;
    border-bottom: 2px solid #e9204f;
    border-width: 3px;
    position: absolute;
    top: 30%;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    font-size: 70px;
    color: #fff;
}   

.middle1{
    position: relative;
    top:90px;
    right: 38%;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: -0.2px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #e9204f;
    padding: 20px 40px 20px 40px;
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
}

.middle1:hover{
    background-color: #e9204f;
}

.hyper{
    position: relative;
    right: 35%;
    top:50px;
}

.elements {
    display: flex;
    width:100%;
    margin-left: 60px;
    height:400px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    transform: none;
    position: absolute;
    bottom: -300px;
    background-color: transparent;
    text-align: left;
}


.elements-row:hover{
    background-color: #e9204f;
    box-shadow: 10px 10px 50px 10px rgb(0 0 0 / 30%);
}

.elements-row1:hover{
    background-color: #e9204f;
    box-shadow: 0px 10px 50px 1px rgb(0 0 0 / 30%);
}

.elements-row2:hover{
    background-color: #e9204f;
    box-shadow: 0px 10px 50px 1px rgb(0 0 0 / 30%);
}
.elements-row{
    position: relative;
    width:29%;
    height:160px;
    background-color:#e9204f;
    border:#1b1b1b;
    font-size: 1.0em;
    padding: 200px 30px 200px 30px;

}

.elements-row1{
    position: relative;
    width:29%;
    height:160px;
    background-color:#1b1b1b;
    margin-left: 20px; 
    border:#1b1b1b;
    padding: 200px 30px 200px 30px;
}

.elements-row2{
    position: relative;
    width:29%;
    height:160px;
    background-color:#1b1b1b;
    margin-left: 20px; 
    border:#1b1b1b;
    padding: 200px 30px 200px 30px;
}

.joint5, .joint6{
    text-align: start;
    font-size: 16px;
    color: white;
}

.joint3, .joint4{
    text-align: start;
    font-size: 16px;
    color: white;
}

.joint1, .joint2{
    text-align: start;
    font-size: 16px;
    color: white;
}

@media screen, (max-width:952px) {
    label.nav1{
        font-size: 2.14em;
    }
    nav ul li a{
        font-size: 16px;
    }
}


@media screen, (max-width:676px) {
    .main-container{
        display: flex;
        flex-direction: row;
    }

}