*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./natural.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}


.main-container{
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;    

}

.new{
    list-style-type: none;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

.new, .active1, .active{
    display: inline-block;
}
.new, .active1, .link{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: solid transparent 1px;
    transition: 0.8s ease;
    text-transform: capitalize;
}

.new, .active1, .link:hover{
    background-color:#fff;
    color:  #000;
}

.new, .active1.active, .link{
    background-color: rgb(100, 50, 150);
    color:  #000;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    font-size: 70px;
    color: #fff;
}   

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.btc{
    border: soild #fff 1px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}

.btc:hover{
    background-color:#fff;
    color:  #000;   
    transition: 0.8s ease;

}