body{
	margin:0;
	font-family: sans-serif;
	background-color: #dddddd;
}

*{
	box-sizing: border-box;
}

.main-container{
	max-width: 1140px;
	background-color: #ffffff;
	height:auto;
	margin:40px auto;
	padding:20px;
}

h1{
	font-size:30px;
	margin:40px;
    padding: 20px;
}
.clear{
	clear: both;
}
nav{
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:30px ;
 margin-bottom:20px;
}

header{
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:130px 15px;
 margin-bottom:20px;
}

.section1{
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}

.section1 .content{
	width: 100%;
	margin-top:60px;
    margin-bottom: 20px;
}

.section1 .content .card{
width:25%;
padding:0px 10px;
margin-bottom: 20px;

}

.section1 .content .card .box{
	background-color:gray;
	font-size:30px;
	color:#fff;
	padding:60px 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.section2{
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 margin-bottom:20px;
}

.section2 .content{
width: 100%;
margin-top:60px;
}

.section2 .content .left{
	width: 50%;
	padding:0px 10px;

}
.section2 .content .left .card{
	padding:200px 15px;
	font-size:30px;
	color:#fff;
	background-color: gray;
}
.section2 .content .right{
	width: 50%;
	padding: 0px 10px;
}
.section2 .content .right .card{
	padding:48px 15px;
	font-size:30px;
	color:#fff;
	background-color: gray;
	margin-bottom:20px;
}

img{
    width: fit-content;
}
source{
    width: fit-content;
}

footer{
 width: 100%;
 background-color:#dddddd; 
 text-align: center;
 padding:50px 10px;
 margin-bottom: 20px;
 
}

